header {
  border-top: 5px solid #8c1515;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 16px;
}

body {
  font-family: "Segoe UI";
  margin: 0px;
  padding: 0px;
}

div.content {
  margin-right: auto;
  margin-left: 160px;
  padding-left: 0px;
  padding-right: 0px;
}

img.profile {
  float: left;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  border: 4px solid #d2c295;
  border-radius: 10px;
  padding: 0;
  width: 120px;
}

a:link {
  color: #800000;
  text-decoration: none;
}

a:visited {
  color: blueviolet;
  text-decoration: none;
}

a.pagelink {
  color: black;
  padding-right: 10px;
}

a.pagelink.active {
  font-weight: bold;
}
