header {
  border-top: 5px solid #8c1515;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 16px;
}

body {
  /*font-family: "Segoe UI";*/ 
  font-family: "Fira Sans", sans-serif; 
  background-color: #FBFCFC;
  margin: 0px;
  padding: 0px;
}

h2 {
  color: #800000;
  font-weight: bold;
}

div.content {
  margin-right: auto;
  margin-left: 160px;
  padding-left: 0px;
  padding-right: 0px;
  line-height: 15pt;
  display: block;
}

li{
  margin: 5pt 0;
}

img.profile {
  float: left;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  border: 4px solid #d2c295;
  border-radius: 10px;
  padding: 0;
  width: 120px;
}

img.misc {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  padding: 0;
  width: 300px;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  /*color: #800000;*/
  color: black;
  text-decoration: none;
}

a:hover {
  color: #800000;
  text-decoration: none;
}

a.pagelink {
  color: black;
  padding-right: 10px;
}

a.pagelink.active {
  font-weight: bold;
}

a.paper {
   font-style: italic; 
  font-weight: bold;
  line-height: 20pt;
}

a.oped {
  font-style: italic;
}
